body {
  font: 12px sans-serif;
}
 
.rules line, .rules path {
  /*shape-rendering: crispEdges;*/
  stroke: #000;
}
 
.rules .tick {
}
.rules .minor {
  stroke: #BBB;
}
.rules .domain {
  fill: none;
}
 
.grid .tick {
  stroke: #000;
  stroke-width: 2;
}

.QiNames {
  font-size: 30px;
  text-anchor: "middle";
}

.qizis {
  cursor: pointer;
}

circle.possible-position {
  stroke: blue;
  stroke-width: 3px;
  fill-opacity: 0;
}
.eating-position circle {
  stroke: blue;
  stroke-width: 3px;
}

.dragging-ghost {
  opacity: 0.3;
  cursor: pointer;
}

.not-allowed,  .not-allowed *{
  cursor: not-allowed!important;
}


#qipan-container {
  display: inline-block;
}

#qipu-container {
  display: inline-block;
  overflow : scroll;
  height : 500px;
  width : 150px;
  font-size: 15px;
}

#qipu-container li {
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
  
  cursor: pointer;
}

.current-step {
  background-color: #FFFF66;
}

#qipu-container p {
  font-size: 15px;
  font-family: 宋体;
  cursor:default;
}

.userviscontrols {
  display: inline-block;
  text-align : center;
  vertical-align: middle;
}

.ivcont h2 {
  font-family : 宋体;
  font-size : 25px;
  color : black;
  text-align : center;
  padding : 0px;
} 

img {
  cursor:pointer;
}